
<!-- add show to get it shown -->
<div class="modal fade file-upload-background-overlay"
  id='dlgPhotoPickerSetLoad' tabindex="-1"
  role="dialog" aria-labelledby='dlgMessageLabel'
  style="display: none;">
  <form method="post" action="javascript:void(0);">
    <div class="modal-dialog" role="document">
      <div class="modal-content animated flipInX" style="border-radius: 4px;">
        <!-- title / header -->
        <div class="modal-header">
          <h5 class="modal-title w-100" id='dlgMessageLabel'>
            <span *ngIf='_isLoadMode'>
              <i class="fa fa-folder-open-o" aria-hidden="true"></i> set (load)
            </span>
            <span *ngIf='!_isLoadMode'>
              <i class="fa fa-trash-o" aria-hidden="true"></i> set (delete)
            </span>
          </h5>
          <button type="button" class="close pull-right"
            data-dismiss='modal' aria-label='Close' (click)='buttonTwoClick($event)'>
            <span aria-hidden='true'>x</span>
          </button>
        </div>
<!-- content -->
        <div class="modal-body">
          <div class="mx-auto">
            <div class="container-fluid">
              <!-- 1st column -->
              <dl class="row">
                <dd id='divSetItemList' [ngClass]="_divSetItemList" style="padding-left:1px; padding-right:1px;">
                  <div class='photo-picker-set-selection-container'>
                    <div class="photo-picker-set-selection-inner-container">
                      <div class="photo-picker-set-selection-item-container"
                        *ngFor='let _item of _frm["selectedSet"]; let _i=index; trackBy: _item?.id'
                        >
                        <div (click)='onSetItemClick($event, _item.id, _i)'
                         [ngClass]='{ "text-truncate": true, "photo-picker-set-selection-item-selected": _item.checked, "photo-picker-set-selection-item": !_item.checked }'
                         >
                           <span style="padding-left: 4px; padding-right: 2px;"
                            (click)='onPreviewSetClick($event, _item.id, _i)'
                            >
                             <i class="fa fa-desktop" aria-hidden="true"></i></span>
                          {{_item.id}}-{{_item.name}}--{{_item.checked}}
                        </div>
                      </div>
                    </div>
                  </div>
                </dd>
                <!-- 2nd column -->
                <dd id='divSetPreview' [ngClass]='_divSetPreview'
                  style="padding-left:1px; padding-right:1px;">
                  <div>
                    <span class="dialog-testing-spec-value">photo files available in set:</span>
                    <i class="fa fa-angle-double-right pull-right cursor-hand" style='padding-right: 2px;' aria-hidden="true" (click)='hidePreviewPane()' ></i>
                  </div>
                  <div class="photo-picker-set-selection-preview-pane-right">
                    <div style="width: calc(100%);">
                      <img *ngFor='let _previewItem of _setPreviewPhotoList; let _previewI=index;'
                       class="cursor-hand" (click)='updatePreviewPhotoData(_previewItem, _previewI)'
                       src='{{_previewItem}}' style="max-width: 100px; max-height: 100px; padding: 2px;"
                       />
                    </div>
                  </div>
                  <div style="width: calc(100%); height: 160px; text-align: center; overflow: auto; border: 1px solid;">
                    <!-- style='max-width: 100%; max-height: 100%;' -->
                    <img id='imgPreviewData' src='{{_setPreviewPhotoData}}'
                      [ngStyle]='_setPreviewPhotoDataStyle'
                      [ngClass]='_setPreviewPhotoDataCss' />
                  </div>
                  <div style="text-align: center;">
                    <i class="fa fa-search-plus" aria-hidden="true" (click)='increasePreviewPhotoDimen()'></i>
                    <i class="fa fa-search-minus" aria-hidden="true" (click)='decreasePreviewPhotoDimen()'></i>
                    <i class="fa fa-refresh" aria-hidden="true" (click)='bestFitPreviewPhotoDimen()'></i>
                  </div>
                </dd>
              </dl>
            </div>
          </div>
        </div>
<!-- footer -->
        <div class="modal-footer">
          <button class="btn btn-secondary waves-effect waves-light"
            data-dismiss='modal' (click)='buttonOneClick($event)'>
            {{buttonOneLabel}}
          </button>
          <button *ngIf='_showButtonTwo' class="btn btn-primary waves-effect waves-light"
            (click)='buttonTwoClick($event)'>
            {{buttonTwoLabel}}
          </button>
        </div>
      </div>  <!-- content -->
    </div>  <!-- dialog -->

  </form>
</div>
