
<!-- widget (image) -->
<div class="photo-picker-preview-widget-container">
  <div class="photo-picker-preview-widget-image-container">
    <div class="cursor-hand">
      <!--img src='../../static/img/photoPicker/airBalloon.jpeg' /-->
      <img src='{{_photoURIData}}' (click)='showPhotBigPreviewDlg($event)' />

      <!-- the "x" button -->
      <span class="pull-right photo-picker-preview-widget-image-close-container">
        <a class='btn btn-small red'>x</a>
      </span>
    </div>
  </div>
</div>
