
<!--this is the playground main page
{{name}} -->

<div class="playground-headline">
  <i class="fa fa-area-chart" style="color: #aaa;"></i>&nbsp;
  Welcome to the <mark>playground</mark>, a place for <mark>testing</mark> the components in projectVA (admin only)
</div>

<div style="margin-left: 8px; margin-right: 8px;">
  <div class="container-fluid">
    <div class='row'>
      <span class="col-xs-4 col-sm-4 col-md-3 col-lg-3 " style='padding-right: 1px;'>
        <div class="playground-menu-container">
          <!-- ** embed a menu component here ** -->
          <playground-side-menu [_ref]='this' ></playground-side-menu>
        </div>
      </span>
      <span class="col-xs-8 col-sm-8 col-md-9 col-lg-9" style='padding-left: 1px;'>
        <div class='playground-menu-container'>
          <!-- ** another level of routlet ** -->
          <router-outlet></router-outlet>
        </div>
      </span>
    </div> <!-- row -->
  </div>  <!-- container-fluid -->
</div>
