<!-- add show to get it shown -->
<div class="modal fade file-upload-background-overlay"
  id='dlgFileUpload' tabindex="-1"
  role="dialog" aria-labelledby='dlgFileUploadLabel'
  style="display: none;">
  <form method="post" action="javascript:void(0);" enctype="multipart/form-data">

    <div class="modal-dialog" role="document">
      <div class="modal-content" style="border-radius: 4px;">
        <!-- title / header -->
        <div class="modal-header">
          <h4 class="modal-title w-100" id='dlgFileUploadLabel'>
            {{_lblTitle}}
          </h4>
          <button type="button" class="close pull-right"
            data-dismiss='modal' aria-label='Close' (click)='cancel($event)'>
            <span aria-hidden='true'>x</span>
          </button>
        </div>
        <!-- content -->
        <div class="modal-body">
          <div class="file-upload-dlg-content-container">
            <div class="mx-auto" style="text-align: center; margin-top: 100px;">
              <i class="fa fa-cloud-upload fa-4x" style="color: #74D1EA;"></i>
              <br>
              <span>Drag and drop an image file to upload</span>
            </div>
          </div>
        </div>
        <!-- footer -->
        <div class="modal-footer">
          <button class="btn btn-secondary waves-effect waves-light"
            data-dismiss='modal' (click)='select($event)'>
            {{_lblBtnOne}}
          </button>
          <button class="btn btn-primary waves-effect waves-light"
            (click)='cancel($event)'>
            {{_lblBtnTwo}}
          </button>
        </div>
      </div>  <!-- content -->
    </div>  <!-- dialog -->

    <!-- file input -->
    <input id="filUpload" name='filUpload' type="file" style="visibility:hidden" (change)='fileUpdated($event)' />

  </form>
</div>
