
<!--here we are... photo-picker ({{_coreModel.getCreationTimestamp()}})-->

<!-- might need to use flex measurements later e.g. container -->
<div style="width: 400px; border: 1px solid;">
  <div class="container-fluid" style="padding:0px;">
    <div class="col" style="padding: 0px;">
      <!-- ** menubar ** -->
      <div id='photo-picker-menu-bar' style="margin-bottom: 2px;">
        <a class="btn btn-outline-info waves-effect"
          style="border-radius:4px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; margin-left: 0px; margin-right:0px;">
          <i class='fa fa-lg fa-folder-o'></i>
        </a>
        <a class="btn btn-outline-info waves-effect"
          style="border-radius:4px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; margin-left: 0px; margin-right:0px;">
          <i class='fa fa-lg fa-trash-o'></i>
        </a>
        <span class="pull-right">
          <a class="btn btn-outline-info waves-effect"
            style="border-radius:4px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; margin-left: 0px; margin-right:0px;">
            <i class='fa fa-lg fa-close'></i>
          </a>
        </span>
        <!-- link break -->
        <div style="padding-left: 4px; padding-right: 4px;">
          <div class="photo-picker-menubar-break"></div>
        </div>
      </div> <!-- menubar -->

      <!-- photo display widget(s) -->
<!-- * set height based on the widget area given -->
      <div id='photo-picker-preview-container' class="photo-picker-preview-container" style="height: 150px;">
        <div class="photo-picker-preview-container-inner">
          <!-- widget -->
<!-- testing -->
<div *ngFor='let item of _photoDataList; let _i = index; '>
  {{item}}
</div>
<!-- testing (end) -->
          <photo-picker-preview-widget [_ref]='this'></photo-picker-preview-widget>
          <photo-picker-preview-widget [_ref]='this'></photo-picker-preview-widget>
          <!-- widget (image) -->
          <div class="photo-picker-preview-widget-container">
            <div class="photo-picker-preview-widget-image-container">
              <div class="cursor-hand">
                <img src='../../static/img/photoPicker/airBalloon.jpeg' />
                <!-- the "x" button -->
                <span class="pull-right photo-picker-preview-widget-image-close-container">
                  <a class='btn btn-small red'>x</a>
                </span>
              </div>
            </div>
          </div>

          <div class="photo-picker-preview-widget-container"><div class="photo-picker-preview-widget-image-container"><div class="cursor-hand"><img src='../../static/img/photoPicker/airBalloon.jpeg' /><span class="pull-right photo-picker-preview-widget-image-close-container"><a class='btn btn-small red'>x</a></span></div></div></div>
          <div class="photo-picker-preview-widget-container"><div class="photo-picker-preview-widget-image-container"><div class="cursor-hand"><img src='../../static/img/photoPicker/airBalloon.jpeg' /><span class="pull-right photo-picker-preview-widget-image-close-container"><a class='btn btn-small red'>x</a></span></div></div></div>
          <div class="photo-picker-preview-widget-container"><div class="photo-picker-preview-widget-image-container"><div class="cursor-hand"><img src='../../static/img/photoPicker/airBalloon.jpeg' /><span class="pull-right photo-picker-preview-widget-image-close-container"><a class='btn btn-small red'>x</a></span></div></div></div>
          <div class="photo-picker-preview-widget-container"><div class="photo-picker-preview-widget-image-container"><div class="cursor-hand"><img src='../../static/img/photoPicker/airBalloon.jpeg' /><span class="pull-right photo-picker-preview-widget-image-close-container"><a class='btn btn-small red'>x</a></span></div></div></div>
          <div class="photo-picker-preview-widget-container"><div class="photo-picker-preview-widget-image-container"><div class="cursor-hand"><img src='../../static/img/photoPicker/airBalloon.jpeg' /><span class="pull-right photo-picker-preview-widget-image-close-container"><a class='btn btn-small red'>x</a></span></div></div></div>

          <div class="photo-picker-preview-widget-container"><div class="photo-picker-preview-widget-container-inner"><div class="flex-center cursor-hand"><i class="fa fa-lg fa-image lightblue" title="add photo"></i></div></div></div>
          <div class="photo-picker-preview-widget-container"><div class="photo-picker-preview-widget-container-inner"><div class="flex-center cursor-hand"><i class="fa fa-lg fa-image lightblue" title="add photo"></i></div></div></div>
          <div class="photo-picker-preview-widget-container"><div class="photo-picker-preview-widget-container-inner"><div class="flex-center cursor-hand"><i class="fa fa-lg fa-image lightblue" title="add photo"></i></div></div></div>
          <div class="photo-picker-preview-widget-container"><div class="photo-picker-preview-widget-container-inner"><div class="flex-center cursor-hand"><i class="fa fa-lg fa-image lightblue" title="add photo"></i></div></div></div>
          <div class="photo-picker-preview-widget-container"><div class="photo-picker-preview-widget-container-inner"><div class="flex-center cursor-hand"><i class="fa fa-lg fa-image lightblue" title="add photo"></i></div></div></div>
          <div class="photo-picker-preview-widget-container"><div class="photo-picker-preview-widget-container-inner"><div class="flex-center cursor-hand"><i class="fa fa-lg fa-image lightblue" title="add photo"></i></div></div></div>

        </div>

      </div>  <!-- div for preview image widgets -->


    </div>  <!-- col -->
  </div>  <!-- container-fluid -->

</div>  <!-- outer most div -->

<!-- *********************** -->
<!--  Common upload dialogue -->
<!-- *********************** -->
<file-upload [_parent]='this'></file-upload>
