
<!-- add show to get it shown -->
<div class="modal fade file-upload-background-overlay"
  id='dlgPhotoBigPreview' tabindex="-1"
  role="dialog" aria-labelledby='dlgPhotoBigPreviewLabel'
  style="display: none; padding: 4px;">

  <form method="post" style='height: calc(100%);' action="javascript:void(0);" >
    <span style="color: white; padding-left: 20px;">Preview</span>
    <button type="button" class="close pull-right"
      data-dismiss='modal' aria-label='Close' (click)='buttonTwoClick($event)'>
      <span aria-hidden='true' style="color: white;">x</span>
    </button>
    <div style="height: 600px; text-align: center; padding-top: 12px; padding-bottom: 12px; padding-left: 40px; padding-right: 40px;">
      <img id='imgContent'
        style='text-align: center; min-width: calc(10%); max-width: calc(100%); min-height: calc(10%); max-height: calc(100%);'
        src='./../../static/img/photoPicker/airBalloon.jpeg'>
    </div>
  </form>
</div>
