
<!--here we are... photo-picker ({{_coreModel.getCreationTimestamp()}})-->

<!-- might need to use flex measurements later e.g. container -->
<!-- TODO -->
<!-- ** set the "Width" of the widget (picker) ** -->
<!-- TODO -->
<div style="width: 400px; border: 1px solid;">
  <div class="container-fluid" style="padding:0px;">
    <div class="col" style="padding: 0px;">
      <!-- ** menubar ** -->
      <div id='photo-picker-menu-bar' style="margin-bottom: 2px; padding-left: 2px; padding-right: 2px;">
        <a class="btn btn-outline-info waves-effect photo-picker-menubar-button">
          <i class='fa fa-lg fa-folder-o'></i>
        </a>
        <a class="btn btn-outline-info waves-effect photo-picker-menubar-button">
          <i class='fa fa-lg fa-save'></i>
        </a>
<!-- style="border-radius:4px; padding-left: 16px; padding-right: 16px; padding-top: 8px; padding-bottom: 8px; margin-left: 0px; margin-right:0px;" -->
        <a class="btn btn-outline-info waves-effect photo-picker-menubar-button">
          <i class='fa fa-lg fa-trash-o'></i>
        </a>
        <span class="pull-right">
          <a class="btn btn-outline-info waves-effect photo-picker-menubar-button">
            <i class='fa fa-lg fa-close'></i>
          </a>
        </span>
        <!-- link break -->
        <div style="padding-left: 4px; padding-right: 4px;">
          <div class="photo-picker-menubar-break"></div>
        </div>
      </div> <!-- menubar -->

      <!-- photo display widget(s) -->
<!-- TODO -->
<!-- * set height based on the widget area given -->
<!-- TODO -->
      <div id='photo-picker-preview-container' class="photo-picker-preview-container" style="height: 150px;">
        <div class="photo-picker-preview-container-inner">
          <!-- widget -->
          <photo-picker-preview-widget [_ref]='this'></photo-picker-preview-widget>
          <!-- iterate through the photoDataList item(s) -->
          <photo-picker-view-widget *ngFor='let item of _photoDataList; let _i = index; '
            [_parent]='this' [_photoDataIndex]='_i'></photo-picker-view-widget>
        </div>

      </div>  <!-- div for preview image widgets -->


    </div>  <!-- col -->
  </div>  <!-- container-fluid -->

</div>  <!-- outer most div -->

<!-- *********************** -->
<!--  Common upload dialogue -->
<!-- *********************** -->
<file-upload [_parent]='this'></file-upload>
<photo-big-preview-dlg [_parent]='this'></photo-big-preview-dlg>
