<!-- aria-expanded=true n class=collpase show -->
<div class="animated flipInX hiding" id="divTweek_0">
  <div class="card card-block">
    <h5><span class="dialog-testing-title">Specs</span></h5>
    <!--ul class="dialog-testing-spec-list">
      <li>actual component name: <span class='dialog-testing-spec-value'>MessageDlgComponent</span></li>
      <li>class filename: <span class='dialog-testing-spec-value'>message.dlg.component.ts</span></li>
      <li>dialog type: <span class='dialog-testing-spec-value'>help dialog</span></li>
    </ul-->
    <dl class="row">
      <dd class="col-sm-4 text-truncate margin-bottom-zero">&nbsp;actual component name</dd>
      <dd class="col-sm-8 margin-bottom-zero"><span class='dialog-testing-spec-value'>MessageDlgComponent</span></dd>
      <!--dt class="col-sm-3">Euismod</dt>
      <dd class="col-sm-9">Vestibulum id ligula porta felis euismod semper eget lacinia odio sem nec elit.</dd>
      <dd class="col-sm-9 offset-sm-3">Donec id elit non mi porta gravida at eget metus.</dd-->
      <dd class="col-sm-4 text-truncate margin-bottom-zero">&nbsp;class filename</dd>
      <dd class="col-sm-8 margin-bottom-zero"> <span class='dialog-testing-spec-value'>message.dlg.component.ts</span> </dd>

      <dd class="col-sm-4 text-truncate margin-bottom-zero">&nbsp;dialog type</dd>
      <dd class="col-sm-8 margin-bottom-zero"> <span class='dialog-testing-spec-value'>help dialog</span> </dd>
    </dl>

    <!-- tweek options -->
    <p></p>
    <h5><span class="dialog-testing-title">Tweek options</span></h5>
    <div class="md-form form-sm">
      <div class="container-fluid">

        <div class="row">
          <div class="col-sm-4 col-md-4" style="padding: 0px;">
            <span class="">main help message</span>
          </div>
          <div class="col-sm-8 col-md-8" style="padding: 0px;">
            <textarea id='__0_message' [(ngModel)]="_frm['message']" class="form-control"></textarea>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-4" style="padding: 0px;"><span class="">dialog title</span></div>
          <div class="col-sm-8 col-md-8" style="padding: 0px;">
            <input type="text" id="__0_title" [(ngModel)]="_frm['title']"  class="form-control dialog-testing-tweek-input">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-4" style="padding: 0px;"><span class="">is it a warning?</span></div>
          <div class="col-sm-8 col-md-8" style="padding: 0px;">
            <div style="margin-top: 8px;"></div>
            <input type='radio' [(ngModel)]="_frm['warning']" name='__0_warning' value='yes'>&nbsp;yes&nbsp;
            <input type='radio' [(ngModel)]="_frm['warning']" name='__0_warning' value='no'>&nbsp;no
            <div style="margin-bottom: 15px;"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-4" style="padding: 0px;"><span class="">need button two?</span></div>
          <div class="col-sm-8 col-md-8" style="padding: 0px;">
            <div style="margin-top: 8px;"></div>
            <input type='radio' [(ngModel)]="_frm['btn2']" name='__0_btn2' value='yes'>&nbsp;yes&nbsp;
            <input type='radio' [(ngModel)]="_frm['btn2']" name='__0_btn2' value='no'>&nbsp;no
            <div style="margin-bottom: 15px;"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-4" style="padding: 0px;"><span class="">button 1 label</span></div>
          <div class="col-sm-8 col-md-8" style="padding: 0px;">
            <input type="text" id="__0_btn1_lbl" [(ngModel)]="_frm['btn1_lbl']"  class="form-control dialog-testing-tweek-input">
          </div>
        </div>
        <div class="row">
          <div class="col-sm-4 col-md-4" style="padding: 0px;"><span class="">button 2 label</span></div>
          <div class="col-sm-8 col-md-8" style="padding: 0px;">
            <input type="text" id="__0_btn2_lbl" [(ngModel)]="_frm['btn2_lbl']"  class="form-control dialog-testing-tweek-input">
          </div>
        </div>

      </div>  <!-- container-fluid -->
    </div>

    <button class="btn btn-primary" (click)='showDlg_0($event)' >show dialog</button>
  </div>
</div>

<!-- dlg instances -->
<message-dlg [_parent]='this'></message-dlg>
