
<!-- https://mdbootstrap.com/javascript/collapse/ accordion -->
<div class="dialog-testing-container">
  <h6><span class="dialog-testing-title">Dialog tester</span> : pick a dialog and tweek</h6>

  <div class='dialog-testing-dlg-container'>
    <div id='div_scroll_container' class="dialog-testing-dlg-scroll-container">
      <!-- message.dlg.component -->
      <!-- data-toggle="collapse" data-target="#divTweek_0" aria-expanded="false" aria-controls="divTweek_0" -->
      <button class="btn btn-primary" id='btn_0' (click)='showTweekOption(0)'>
        help dialog</button>
      <button class="btn btn-default" id='btn_1' (click)='showTweekOption(1)'>
        message dialog</button>

      <button class="btn btn-secondary" id='btn_2' (click)='showTweekOption(2)'>
        photo picker (set) load dialog</button>
      <!-- add more buttons here -->
    </div>
  </div>

  <!-- accordion panes -->
  <!-- aria-expanded=true n class=collpase show -->
  <accordion-zero [_parent]='this'></accordion-zero>
  <accordion-one [_parent]='this'></accordion-one>
  <accordion-two [_parent]='this'></accordion-two>

  <!-- dlg instances -->
  <!--message-dlg [_parent]='this'></message-dlg-->



</div>
