<!-- add show to get it shown -->
<div class="modal fade file-upload-background-overlay"
  id='dlgMessage' tabindex="-1"
  role="dialog" aria-labelledby='dlgMessageLabel'
  style="display: none;">
  <form method="post" action="javascript:void(0);">
    <div class="modal-dialog" role="document">
      <div class="modal-content animated flipInX" style="border-radius: 4px;">
        <!-- title / header -->
        <div class="modal-header">
          <h4 class="modal-title w-100" id='dlgMessageLabel'>
            <!-- depends if it is a valid or not message, have diff color -->
            <span *ngIf='_showWarning' style="color: red;">{{titleLabel}}</span>
            <span *ngIf='!_showWarning' >{{titleLabel}}</span>
          </h4>
          <button type="button" class="close pull-right"
            data-dismiss='modal' aria-label='Close' (click)='buttonTwoClick($event)'>
            <span aria-hidden='true'>x</span>
          </button>
        </div>
<!-- content -->
        <div class="modal-body">
          <div *ngIf='_isHelpDlg==false' class="message-dlg-container">
            <div class="mx-auto" style="text-align: center; ">
              <span>{{_message}}</span>
            </div>
          </div>

          <div *ngIf='_isHelpDlg==true' class="message-dlg-container jumbotron">
            <div class="mx-auto" style="text-align: center; ">
              <!--
              ##########################################
                innerHTML for sanitory html content
              ##########################################
              -->
              <span [innerHTML]='_message' ></span>
            </div>
          </div>

        </div>
<!-- footer -->
        <div class="modal-footer">
          <button class="btn btn-secondary waves-effect waves-light"
            data-dismiss='modal' (click)='buttonOneClick($event)'>
            {{buttonOneLabel}}
          </button>
          <button *ngIf='_showButtonTwo' class="btn btn-primary waves-effect waves-light"
            (click)='buttonTwoClick($event)'>
            {{buttonTwoLabel}}
          </button>
        </div>
      </div>  <!-- content -->
    </div>  <!-- dialog -->

  </form>
</div>
